@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
body {
    background: url('./luca-bravo-ESkw2ayO2As-unsplash.jpg');
    background-size: cover;
}
#overlay {
    display: block;
    position: fixed;
    width: calc(100vw);
    height: calc(100vh);
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
    background: white;
    opacity: 0.9;
    /* filter: blur(2px); */
}
#chart {
    width: 80%;
}
#picture {
    position: absolute;
    left: 70%;
    top: 40%;
    width: 20%;
}
.modebar {
    margin-top: 1rem !important;
    margin-right: 0.5rem !important;
}
#windows {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    background: rgba(255, 255, 255, 0);
    z-index: 1000;
    bottom: 1rem;
    width: 30%;
}
.input-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5rem;
}
.input-wrap label {
    flex-grow: 1;
    font-family: Signika, sans-serif;
}
.input-wrap input, .input-wrap span {
    width: auto;
    justify-content: flex-end;
    font-family: Signika;
}
#refresh {
    margin-left: auto;
    width: auto;
    padding: 0.5rem 1.5rem;
    outline: none;
    font-family: Signika;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 1px solid #28a745;
    color: white;
    background: #28a745;
    transition: 200ms all;
}
#refresh:hover {
    background: #218839;
}
